  <!--      Adding an edit state -->

 <ion-view title="My Notes"  ng-controller="ListCtrl">	
    <ion-content>
 
      <ion-list show-reorder="reordering"> <!-- allows you to toggle reordering state -->
      	</a>
 <!--        <a href="#/edit" class="item" ng-repeat="note in notes"> -->
        <ion-item class="item-remove-animate item-icon-right" href="#/edit/{{note.id}}" 
         ng-repeat="note in notes track by note.id"> 
          <h2>{{note.title}}</h2>
          <p>{{note.description}}</p>
          <i class="icon ion-arrow-right-b"></i>
        <ion-reorder-button class="ion-drag" on-reorder="move(note, $fromIndex, $toIndex)">
    	</ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b" 
        ng-click="remove(note.id)">Delete</ion-option-button>
        </ion-item>
  <!--        This button is revealed only when swiping that button -->
		</ion-list>
      </ion-content>
	<div class="bar bar-footer bar-stable">
     <a href="#/add" class="button button-calm icon-left ion-compose">New Note</a>
     <button class="button button-light icon-left ion-shuffle" ng-click="toggleReordering()">Reorder</button>
	</div>
</ion-view>	

      <!--     moved this out of index.html, moved to templates folder
      this view will load in the ion-nav-view div
      